<div class="container">
  <h2>User Management</h2>
  <p>Total: {{ users.length }} users.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Apple ID</th>
        <th>Password</th>
        <th>IsValid</th>
        <th>DateTime</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.Oid }}</td>
            <td>{{ user.UserName }}</td>
            <td>{{ user.Password }}</td>
            <td>{{user.IsValid ? "Yes":"No"}}</td>
            <td>{{ user.SignInTime | date:'dd/MM/yyyy hh:mm:ss' }}</td>
          </tr>
    </tbody>
  </table>
</div>


