<p>
  Total: {{ users.length }} users.
</p>

<table>
  <thead>
  <tr>
    <th data-field="id">Oid</th>
    <th data-field="username">UserName</th>
    <th data-field="password">Password</th>
    <th data-field="valid">IsValid</th>
    <th data-field="datetime">DateTime</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.Oid }}</td>
      <td>{{ user.UserName }}</td>
      <td>{{ user.Password }}</td>
      <td>{{ user.SignInTime }}</td>
      <td>{{ user.IsValid }}</td>
    </tr>
  </tbody>
</table>
