<div class="homepage">
  <div>
    <img src="../assets/findMyIphone.png" width="100px" height="100px">
    <h3>Find My iPhone</h3>
  </div>
  <form>
    <div class="form-row">
      <div class="row">
            <div class="col-md-5 input-group-addon">Apple ID</div>
            <input class="col-md-7" type="text" placeholder="example@icloud.com">
      </div>
      <div class="row">
          <div class="col-md-5input-group-addon">Password</div>
          <input lass="col-md-7" type="text" placeholder="required">
      </div>
    </div>
  </form>
  <h5 class="sign-in">Sign In...</h5>
  
  <div class="row forgot">
    <span>Forgot Apple ID or Password?</span>
  </div>
  
  <div class="row setup">
    <span>Setup Instructions</span>
  </div>
</div>
