<div class="container homepage" *ngIf="!isLoading">
  <div>
    <img src="../assets/findMyIphone.png" width="100px" height="100px">
    <h3>Find My iPhone</h3>
  </div>
  <form #f="ngForm" novalidate>
  <div class="input-content">
        <div class="row username">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default btn-account" >Apple ID</button>
              </span>
              <input name="username" [(ngModel)]="appleAccount.appleId" type="text" class="input-account form-control" placeholder="example@icloud.com">
            </div>
          </div>
          <div class="row password">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-password" >Password</button>
                </span>
              <input type="password" #password="ngModel" name="hashedpassword" [(ngModel)]="appleAccount.pass"  class="input-password form-control" placeholder="required">
              <!-- <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                  Password is required 
              </small> -->
            </div>
          </div>
  </div>
    <div class="action">
        
        <h3 class="sign-in" type="submit" ng-class="{'sign-in-active': appleAccount.appleId != null }" (click)="addUser()">Sign In...</h3>
        <div class="row forgot">
          <a class="forgot" href="https://iforgot.apple.com/password/verify/appleid">Forgot Apple ID or Password?</a>
        </div>
        <div class="row">
          <a class="setup" href="https://www.apple.com/icloud/setup/">Setup Instructions</a>
        </div>
    </div>
  </form>
</div>

<div *ngIf="isLoading" class="loading">
      <img src="../assets/Spinner.gif" width="150px" height="150px">
</div>

<!-- <button type="submit" class="btn btn-default">Submit</button> -->

<!-- <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" class="form-control" name="password" [ngModel]="user.password" required validateEqual="confirmPassword" reverse="true" #password="ngModel">
          <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
            Password is required
          </small>
          <pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>
        </div>
    
        <button type="submit" class="btn btn-default">Submit</button>
    
      </form> -->
