.homepage{
    text-align:  center;
    margin-top: 80px;
}

.input-content{
    max-width: 100%;
    width: 30%;
    margin: 0 auto;
}

.sign-in{
    margin-bottom: 10px;
    cursor: pointer;
    color: gray;
} 

.sign-in-active{
    color: green;
}

.setup{
    color: green;
}

.forgot{
    color: green;
    margin-bottom: 10px;
}

.username{
    margin-top: 15px;
}

.btn-account{
    border-right-width: 0;
    border-bottom-width: 0;
    border-bottom-left-radius: 0px;
    padding-right: 20px;
}

.input-account{
    border-left-width: 0;
    border-bottom-width: 0;
    border-bottom-right-radius:0px;
    border-bottom-style:none;
    box-shadow: none;
}

.btn-password{
    border-right-width: 0;
    border-top-width: 0;
    border-top-left-radius: 0px;
    margin-top: -3px;
}

.input-password{
    border-left-width: 0;
    border-top-width: 0;
    border-top-right-radius:0px;
    border-top-style:none;
    box-shadow: none;
    margin-top: -4px;
}


@media screen and (max-width: 768px) {
    .input-content{
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
}